/*
// jandi-reset
// CSS RESET
*/
body
{
	margin: 0;
	padding: 0;
	font: 12px Arial, sans-serif;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
blockquote,
th,
td
{
	margin:0;
	padding:0;
}
table
{
	border-collapse:collapse;
	border-spacing:0;
}
input:focus,
select:focus,
a:focus
{
	outline: 0 none;
}
input::-moz-focus-inner,
select::-moz-focus-inner,
a::-moz-focus-inner,
button::-moz-focus-inner
{
 	border: 0;
}
input,
textarea,
select
{
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
input,
textarea,
select
{
*font-size:100%;
}
img,
a img
{
	border: 0 none;
	outline: 0 none;
}
a,
a:hover
{
	text-decoration: none;		
}
a
{
  color: #666;
}
a:hover
{
  color: #111;
}
a *
{
*cursor: pointer;
}
a
{
	display: inline-block;
}
p a
{
	display: inline;	
}
ul,
ul li
{
	/* padding: 5px 0 5px 15px; */
	list-style: none;
	margin: 0;
	padding: 0;
}
ol
{
	list-style: decimal;
}
ol ol
{
	list-style: upper-alpha;
}
ol ol ol
{
	list-style: lower-roman;
}
ol ol ol ol
{
	list-style: lower-alpha;
}
p,
h1,
h2,
h3,
h4,
h5,
h6
{
	margin: 0;
	padding: 5px 0;
	display: block;
}
h1
{
	font-size: 32px;
}
h2
{
	font-size: 24px;	
}
h3
{
	font-size: 20px;	
}
h4
{
	font-size: 18px;
}
h5
{
	font-size: 16px;
}
h6
{
	font-size: 14px;
}
sup
{
	vertical-align: super;
	line-height: inherit;
}
.clear
{
	clear: both;
}
