/*
// jandi-ui
// jandi.kriogenx.net
// 1.0.1 2013-04-26
//
// SET GROUND RULES FOR CSS
// BOOTSTRAPPING AND UI ELEMENTS
*/

/* ESSENTIALS */
.clear,
.clearfix
{
  clear: both;
  display: block;
}

/* COLUMNS */
.col-1of2,
.col-1of2-right,
.col-2of4
{
  width: 49.9%;
  float: left;
}
.col-1of3
{
  width: 33.33%;
  float: left;
}
.col-2of3
{
  width: 66.66%;
  float: left;
}
.col-1of4
{
  width: 25%;
  float: left;
}
.col-3of4
{
  width: 75%;
  float: left;
}
/* TABLE BLOCK */
.table-block
{
	width: 100%;
}
.table-block,
.table-block > tr,
.table-block > tr > th,
.table-block > tr > td,
.table-block > tbody > tr > th,
.table-block > tbody > tr > td,
.table-block > thead > tr > th,
.table-block > thead > tr > td,
.table-block > tfoot > tr > th,
.table-block > tfoot > tr > td
{
	border: 0 none;
	border-spacing: 0;
	padding: 0;
	margin: 0;
	vertical-align: top;
}

/*****************/
/* TEXT */

.t-tera,
.heading-title
{
	font-size: 100px;
	line-height: 120px;
	letter-spacing: -2px;
}
.t-giga,
.heading-subtitle
{
	font-size: 60px;
	line-height: 72px;
	letter-spacing: -1px;
}
h1,
.t-mega
{
	font-size: 32px;
	line-height: 38px;
}
h2,
.t-kilo
{
	font-size: 24px;
	line-height: 30px;
}
h3
{
	font-size: 20px;	
}
h4
{
	font-size: 18px;
}
.t-mini
{
	font-size: 13px;
	line-height: 18px;
}
.t-micro
{
	font-size: 10px;
	line-height: 16px;
}
pre
{
	text-shadow: none;
}
strong
{
	font-weight: 600;
}
.t-center
{
	text-align: center;
}
.t-right
{
	text-align: right;
}

.t-blur,
.textbox-blurred
{
	color: #777;
	font-style: italic;	
}

/* BASICS */
hr,
.ui-rule
{
	clear: both;
	padding-top: 5px;
	background: #efefef;
}
.ui-hidden,
.ui-templates
{
	display: none;	
}
.page-width
{
	width: 960px;
	margin: 0 auto;
}

/* LAYOUT */
.layout-padding,
.y-kilo
{
	padding: 10px;
}
.layout-thick,
.y-mega
{
	padding: 20px;
}
.layout-thicker,
.y-giga
{
	padding: 30px;
}
.ui-wide,
.layout-wide
{
	padding: 20px 40px;
}
.ui-deep,
.layout-deep,
.y-tera
{
	padding: 40px;	
}
.ui-space,
.layout-spacing
{
	margin-top: 10px;
	margin-bottom: 10px;	
}
.layout-spacing-top
{
	margin-top: 10px;	
}
.layout-spacing-bottom
{
	margin-bottom: 10px;	
}
.layout-gap
{
	margin-top: 20px;
	margin-bottom: 20px;	
}
.layout-cozy
{
	margin-top: 40px;
	margin-bottom: 40px;
}
.layout-cozy-top
{
	margin-top: 40px;
}
.layout-floatLeft
{
	float: left;	
}
.layout-main
{
	width: 69%;
	float: left;
}
.layout-side
{
	width: 30%;
	float: right;	
}

/* BASIC FLOATING */
.layout-left
{
	float: left;
}
.layout-right
{
	float: right;
}
.layout-half-left,
.layout-half-right
{
	width: 49%;	
}
.layout-third-left,
.layout-third-right
{
	width: 33%;
}
.layout-half-left,
.layout-third-left
{
	float: left;	
}
.layout-half-right,
.layout-third-right
{
	float: right;
	text-align: right;
}
.layout-floatLeft
{
	float: left;	
}

/* MISC */

/**************/
/* UI ELEMENTS */

.loader,
.ui-loader
{
	background: url(jandi-ui/loaders/loader-ffffff-666666.gif) no-repeat center;	
}
.icon
{
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
}

/* MESSAGES */
.ui-message-error,
.ui-message-success
{
	padding: 10px;
	margin: 10px 0;
	padding-left: 45px;
	font-size: 14px;
}
.ui-message-error
{
	color: #ce0000;
	border: 1px solid #ce0000;
	background: #fee url(jandi-ui/icons/icon-xmark-18x19.png) no-repeat 15px center;
}
.ui-message-success
{
	color: #0c0;
	border: 1px solid #0c0;
	background: #efe url(jandi-ui/icons/icon-check-21x19.png) no-repeat 15px center;
}

/************************************/
/* BUTTONS */
a.ui-button
{
	display: inline-block;
	min-width: 100px;
}
a.ui-button.button-full
{
	display: block;
	width: auto;
}

/************************************/
/* LISTS */

ul.normal
{
	margin: 10px 0 10px 35px;
}
ul.normal li
{
	padding-left: 20px;
}

/* LEFT SPACE */
dl.leftSpace
{
	display: block;
}
dl.leftSpace dt
{
	float: left;
	width: 33%;
	clear: both;
}
dl.leftSpace dd
{
	/*
	float: right;
	width: 66%;*/
}

/* SPLIT */
dl.split
{
	display: block;
}
dl.split dt
{
	float: left;
	clear: both;
}
dl.split dd
{
	display: block;
	text-align: right;
}
ul.split,
ul.split li
{
	display: block;
	list-style: none;
	clear: both;
}
ul.split b
{
	/* float: left; */
}
ul.split i
{
	/*float: right;
	text-align: right; */
}
ul.split u
{
	clear: both;
}
/* DISC */
ul.list-disc li
{
	list-style: disc inside;
}
/******************/
/* DEFINITION LIST */

/* SPLIT WIDTH */
dl.splitWidth dt,
dl.splitWidth dd
{
	display: inline-block;
	vertical-align: top;
}
dl.splitWidth dt
{
	width: 33%;
}
dl.splitWidth dd
{
	width: 66%;
}


/************************************/
/* FORMS */

/* STYLED FORM */
.form input[type='text'],
.form input[type='password'],
.form input[type='email'],
.form select,
.form textarea
{
	border: 0 none;
	padding: 5px;
	resize: none;
	outline: 0 none;
	margin-bottom: 3px;
	border: solid 1px #cfcfcf;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.form input[type='text']:focus,
.form input[type='password']:focus,
.form input[type='email']:focus,
.form select:focus,
.form textarea:focus
{
	border-color: #bbb;
}
.form .form-field
{
	margin-bottom: 5px;
	clear: both;
}
.form .form-field:last-child
{
	margin-bottom: 0;
}
.form .field-text .field-input
{
	padding-top: 0;
	padding-bottom: 0;
}
.form .field-text .field-input
{
	border: 1px solid transparent;	
}
.form .field-validation
{
	display: none;
}
.form .field-text .field-validation
{
	clear: both;
}
.form .field-checkboxgroup label
{
	display: inline-block;
	margin-right: 10px;	
}
.form .field-checkboxgroup.field-full label
{
	display: block;
	margin: 0;
}
.form .field-checkboxgroup input,
.form .field-checkbox input
{
	margin-right: 6px;	
}
.form .field-checkboxgroup.field-checkboxgroup-half label
{
	width: 49%;
	margin-right: 0;
}
.form .form-field.field-checkbox label
{
	display: block;
	margin-bottom: 5px;
}
.form .field-cardExpiration .field-input
{
	width: 164px;
	margin-right: 2px;
}
.form .field-radio.field-radio-vertical label
{
	display: block;
	padding: 5px;
}

/************************************/
/* FULL FORM */

.form-full input[type='text'],
.form-full input[type='password'],
.form-full select,
.form-full textarea
{
	width: 95%;
}

/* DISABLELOADER */
.ui-disableLoader
{
	position: relative;
}
.ui-disableLoader .disableLoader-layover
{
	background: #000 url(jandi-ui/loaders/loader-000000-ffffff.gif) no-repeat center;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/************************************/
/* LEGACY */
.half-left,
.half-right
{
	width: 49%;	
}
.third-left,
.third-right
{
	width: 33%;	
}
.twoThirds-left,
.twoThirds-right
{
	width: 66%;
}
.half-left,
.third-left,
.twoThirds-left
{
	float: left;	
}
.half-right,
.third-right,
.twoThirds-right
{
  float: right;
}

/* JANDI UI BOOTSTRAP */
.jandi-ui textarea,
.jandi-ui input[type="text"],
.jandi-ui input[type="password"],
.jandi-ui input[type="datetime"],
.jandi-ui input[type="datetime-local"],
.jandi-ui input[type="date"],
.jandi-ui input[type="month"],
.jandi-ui input[type="time"],
.jandi-ui input[type="week"],
.jandi-ui input[type="number"],
.jandi-ui input[type="email"],
.jandi-ui input[type="url"],
.jandi-ui input[type="search"],
.jandi-ui input[type="tel"],
.jandi-ui input[type="color"]
{
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

.jandi-ui select,
.jandi-ui textarea,
.jandi-ui input[type="text"],
.jandi-ui input[type="password"],
.jandi-ui input[type="datetime"],
.jandi-ui input[type="datetime-local"],
.jandi-ui input[type="date"],
.jandi-ui input[type="month"],
.jandi-ui input[type="time"],
.jandi-ui input[type="week"],
.jandi-ui input[type="number"],
.jandi-ui input[type="email"],
.jandi-ui input[type="url"],
.jandi-ui input[type="search"],
.jandi-ui input[type="tel"],
.jandi-ui input[type="color"]
{
  display: inline-block;
  padding: 4px 6px;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}